<%provide(:title, "Dashboard")%>

<style>
  input[type=file]{
  padding-bottom: 45px;
  /*margin-left: 10px;*/
  }
  input::file-selector-button {
      align-items: center;
      background-clip: padding-box;
      background-color: #036696;
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 2.5rem;
      padding: 0px calc(1.3rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update Account</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Update Account</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Your Account</h3>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),wrapper: :input_group, multiple: true) do |f| %>
            <div class="card-body">
              <div class="form-group">
                <%= f.label :first_name, 'First Name' %>
                <%= f.text_field :first_name, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :middle_name, 'Middle Name' %>
                <%= f.text_field :middle_name, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :last_name, 'Last Name' %>
                <%= f.text_field :last_name, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :email, 'Email' %>
                <%= f.email_field :email, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :moblie_number, 'Mobile Number' %>
                <%= f.telephone_field :moblie_number, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :gender, 'Gender' %>
                <%= f.select :gender, [['Male', 'male'], ['Female', 'female']], { include_blank: 'Select Gender' }, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :date_of_birth, 'Birth Date' %>
                <%= f.date_field :date_of_birth, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :place_of_birth, 'Place of Birth' %>
                <%= f.text_field :place_of_birth, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :country, 'Country' %>
                <%= f.input :country, as: :country, selected: 'ET', priority_countries: ["ET", "US"], input_html: {class: "form-control custom-select"},include_blank: "select country"%>
              </div>
              <div class="form-group">
                <%= f.label :photo , "Upload Photo *" %><span class='required-asterisk' style='color:red;'>*</span>
                <%= f.file_field :photo, class: 'form-control', id: 'photo-upload', accept: 'image/*', required: true %>
                <div id="image-preview" class="mt-2" style="display: none;">
                  <img id="preview-img" src="#" alt="Preview" style="max-width: 200px; max-height: 200px; border-radius: 4px; border: 1px solid #ddd;">
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <%= f.hidden_field :last_updated_by, value: "self" %>
              <%= f.submit 'Update Account', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var photoInput = document.getElementById('photo-upload');
    var previewDiv = document.getElementById('image-preview');
    var previewImg = document.getElementById('preview-img');
    if (photoInput && previewDiv && previewImg) {
      photoInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            previewImg.src = e.target.result;
            previewDiv.style.display = 'block';
          };
          reader.readAsDataURL(file);
        } else {
          previewImg.src = '#';
          previewDiv.style.display = 'none';
        }
      });
    }
</script>